instruments.dtd

<!ELEMENT instruments (instrument*)>
        <!ELEMENT instrument (name, category, image, description)>
        <!ATTLIST instrument type CDATA #IMPLIED>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT category (#PCDATA)>
        <!ELEMENT image (#PCDATA)>
        <!ELEMENT description (#PCDATA)>
